@model DomainModel.Room

@{
    ViewBag.Title = "DeleteRoom";
}

<h2>DeleteRoom</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capaciteit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capaciteit)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ShowAllRooms")
    </p>
}
