@model DomainModel.Room

@{
    ViewBag.Title = "DetailsRoom";
}

<h2>DetailsRoom</h2>

<fieldset>
    <legend>Room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capaciteit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capaciteit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditRoom", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "ShowAllRooms")
</p>
